USE [master]
GO
/****** Object:  Database [KindergartenMenu]    Script Date: 13.05.2026 14:56:16 ******/
CREATE DATABASE [KindergartenMenu]
 
GO

USE [KindergartenMenu]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcIngredientNeedForDate]    Script Date: 13.05.2026 14:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Скалярная функция: потребность ингредиента на дату
CREATE FUNCTION [dbo].[fn_CalcIngredientNeedForDate](@ing_ID INT, @target_date DATE)
RETURNS DECIMAL(10,3)
AS
BEGIN
    DECLARE @total DECIMAL(10,3) = 0;
    SELECT @total = SUM(rc.quantity)
    FROM dbo.Menu m
    JOIN dbo.Recipe_Comm rc ON m.dish_ID = rc.dish_ID
    WHERE m.menu_date = @target_date AND rc.ingredient_ID = @ing_ID;
    RETURN ISNULL(@total, 0);
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CountActiveDishes]    Script Date: 13.05.2026 14:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Скалярная функция: счётчик активных блюд
CREATE FUNCTION [dbo].[fn_CountActiveDishes]()
RETURNS INT
AS
BEGIN
    DECLARE @cnt INT;
    SELECT @cnt = COUNT(*) FROM dbo.Dishes WHERE is_active = 1;
    RETURN @cnt;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CountDishServings]    Script Date: 13.05.2026 14:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_CountDishServings]
(
    @DishID INT,
    @StartDate DATE,
    @EndDate DATE
)
RETURNS INT
AS
BEGIN
    DECLARE @Count INT;
    SELECT @Count = COUNT(*)
    FROM [dbo].[Menu]
    WHERE dish_ID = @DishID AND menu_date BETWEEN @StartDate AND @EndDate;
    RETURN ISNULL(@Count, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCategoryNameByDish]    Script Date: 13.05.2026 14:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Скалярная функция: категория по блюду
CREATE FUNCTION [dbo].[fn_GetCategoryNameByDish](@dish_ID INT)
RETURNS VARCHAR(50)
AS
BEGIN
    DECLARE @cat_name VARCHAR(50);
    SELECT @cat_name = dc.category_name
    FROM dbo.Dishes d
    JOIN dbo.DishCategories_Dict dc ON d.category_ID = dc.category_ID
    WHERE d.dish_ID = @dish_ID;
    RETURN ISNULL(@cat_name, 'Не указана');
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMealTypeName]    Script Date: 13.05.2026 14:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Скалярная функция: название приёма пищи
CREATE FUNCTION [dbo].[fn_GetMealTypeName](@meal_type_ID INT)
RETURNS VARCHAR(30)
AS
BEGIN
    DECLARE @t_name VARCHAR(30);
    SELECT @t_name = type_name FROM dbo.MealType_Dict WHERE meal_type_ID = @meal_type_ID;
    RETURN ISNULL(@t_name, 'Неизвестно');
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetUnitText]    Script Date: 13.05.2026 14:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Скалярная функция: текст единицы измерения
CREATE FUNCTION [dbo].[fn_GetUnitText](@unit_code INT)
RETURNS VARCHAR(10)
AS
BEGIN
    RETURN CASE @unit_code
        WHEN 1 THEN 'кг/л'
        WHEN 2 THEN 'шт'
        ELSE 'ед.'
    END
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SumIngredientForPeriod]    Script Date: 13.05.2026 14:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. Скалярная функция: потребность за период
CREATE FUNCTION [dbo].[fn_SumIngredientForPeriod](@ing_ID INT, @start DATE, @end DATE)
RETURNS DECIMAL(10,3)
AS
BEGIN
    DECLARE @res DECIMAL(10,3) = 0;
    SELECT @res = SUM(rc.quantity)
    FROM dbo.Menu m
    JOIN dbo.Recipe_Comm rc ON m.dish_ID = rc.dish_ID
    WHERE m.menu_date BETWEEN @start AND @end AND rc.ingredient_ID = @ing_ID;
    RETURN ISNULL(@res, 0);
END
GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[dish_ID] [int] NOT NULL,
	[dish_name] [varchar](100) NOT NULL,
	[category_ID] [int] IDENTITY(1,1) NOT NULL,
	[recipe] [text] NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Dishes] PRIMARY KEY CLUSTERED 
(
	[dish_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[menu_ID] [int] IDENTITY(1,1) NOT NULL,
	[menu_date] [date] NOT NULL,
	[meal_type_ID] [int] NOT NULL,
	[dish_ID] [int] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[menu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DishServingDates]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DishServingDates]
AS
SELECT DISTINCT 
    d.dish_ID, 
    d.dish_name, 
    m.menu_date
FROM [dbo].[Dishes] d
INNER JOIN [dbo].[Menu] m ON d.dish_ID = m.dish_ID
WHERE m.menu_date IS NOT NULL;
GO
/****** Object:  Table [dbo].[DishIngredient]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishIngredient](
	[ingredient_ID] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NOT NULL,
	[unit] [int] NOT NULL,
	[note] [varchar](255) NULL,
 CONSTRAINT [PK_DishIngredient] PRIMARY KEY CLUSTERED 
(
	[ingredient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe_Comm]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe_Comm](
	[recipe_ID] [int] IDENTITY(1,1) NOT NULL,
	[dish_ID] [int] NOT NULL,
	[ingredient_ID] [int] NOT NULL,
	[quantity] [decimal](10, 3) NOT NULL,
 CONSTRAINT [PK_Recipe_Comm] PRIMARY KEY CLUSTERED 
(
	[recipe_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_WeeklyShoppingList]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_WeeklyShoppingList]
(
    @StartDate DATE,
    @EndDate DATE
)
RETURNS TABLE
AS RETURN
(
    SELECT 
        di.product_name AS [Продукт],
        SUM(rc.quantity) AS [Общее_количество],
        di.note AS [Ед_измерения]
    FROM [dbo].[Menu] m
    INNER JOIN [dbo].[Recipe_Comm] rc ON m.dish_ID = rc.dish_ID
    INNER JOIN [dbo].[DishIngredient] di ON rc.ingredient_ID = di.ingredient_ID
    WHERE m.menu_date BETWEEN @StartDate AND @EndDate
    GROUP BY di.product_name, di.note
);
GO
/****** Object:  Table [dbo].[DishCategories_Dict]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishCategories_Dict](
	[category_ID] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DishCategories_Dict] PRIMARY KEY CLUSTERED 
(
	[category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_CategoryPopularity]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_CategoryPopularity]
AS
SELECT 
    dc.category_name AS [Категория],
    COUNT(m.menu_ID) AS [Количество_подач]
FROM [dbo].[Menu] m
INNER JOIN [dbo].[Dishes] d ON m.dish_ID = d.dish_ID
INNER JOIN [dbo].[DishCategories_Dict] dc ON d.category_ID = dc.category_ID
GROUP BY dc.category_name;
GO
/****** Object:  View [dbo].[v_FindUnusedDishes]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_FindUnusedDishes]
AS
SELECT 
    d.dish_ID,
    d.dish_name AS [Название_блюда],
    dc.category_name AS [Категория]
FROM [dbo].[Dishes] d
LEFT JOIN [dbo].[DishCategories_Dict] dc ON d.category_ID = dc.category_ID
WHERE NOT EXISTS (
    SELECT 1 FROM [dbo].[Menu] m 
    WHERE m.dish_ID = d.dish_ID AND m.menu_date IS NOT NULL
);
GO
/****** Object:  Table [dbo].[MealType_Dict]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealType_Dict](
	[meal_type_ID] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](30) NOT NULL,
	[serving_order] [int] NULL,
 CONSTRAINT [PK_MealType_Dict] PRIMARY KEY CLUSTERED 
(
	[meal_type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CheckMenuCompleteness]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_CheckMenuCompleteness]
(
    @CheckDate DATE
)
RETURNS TABLE
AS RETURN
(
    SELECT 
        mtd.meal_type_ID, 
        mtd.type_name AS [Отсутствующий_прием_пищи], 
        mtd.serving_order AS [Порядок_подачи]
    FROM [dbo].[MealType_Dict] mtd
    WHERE NOT EXISTS (
        SELECT 1 
        FROM [dbo].[Menu] m 
        WHERE m.menu_date = @CheckDate AND m.meal_type_ID = mtd.meal_type_ID
    )
);
GO
/****** Object:  View [dbo].[v_OrphanedIngredients]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_OrphanedIngredients]
AS
SELECT 
    di.ingredient_ID, 
    di.product_name AS [Продукт], 
    di.unit AS [Ед_измерения], 
    di.note AS [Примечание]
FROM [dbo].[DishIngredient] di
WHERE NOT EXISTS (
    SELECT 1 FROM [dbo].[Recipe_Comm] rc WHERE rc.ingredient_ID = di.ingredient_ID
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetConsecutiveServingDays]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_GetConsecutiveServingDays]()
RETURNS TABLE
AS RETURN
(
    WITH RankedDates AS (
        SELECT 
            dish_ID, 
            menu_date,
            ROW_NUMBER() OVER(PARTITION BY dish_ID ORDER BY menu_date) AS rn
        FROM [dbo].[Menu]
        WHERE menu_date IS NOT NULL
        GROUP BY dish_ID, menu_date
    ),
    Groups AS (
        SELECT 
            dish_ID, 
            menu_date,
            DATEADD(DAY, -rn, menu_date) AS grp
        FROM RankedDates
    )
    SELECT 
        g.dish_ID,
        d.dish_name AS [Блюдо],
        MIN(g.menu_date) AS [Начало_серии],
        MAX(g.menu_date) AS [Конец_серии],
        COUNT(*) AS [Дней_подряд]
    FROM Groups g
    INNER JOIN [dbo].[Dishes] d ON g.dish_ID = d.dish_ID
    GROUP BY g.dish_ID, d.dish_name, g.grp
    HAVING COUNT(*) > 1
);
GO
/****** Object:  View [dbo].[v_CategoryRotationCompliance]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_CategoryRotationCompliance]
AS
WITH CategoryDates AS (
    SELECT DISTINCT
        dc.category_name,
        m.menu_date,
        LAG(m.menu_date) OVER(PARTITION BY dc.category_name ORDER BY m.menu_date) AS Prev_Date
    FROM [dbo].[Menu] m
    INNER JOIN [dbo].[Dishes] d ON m.dish_ID = d.dish_ID
    INNER JOIN [dbo].[DishCategories_Dict] dc ON d.category_ID = dc.category_ID
    WHERE m.menu_date IS NOT NULL
)
SELECT 
    category_name AS [Категория],
    COUNT(menu_date) AS [Всего_подач],
    MIN(DATEDIFF(DAY, Prev_Date, menu_date)) AS [Мин_интервал_дней],
    MAX(DATEDIFF(DAY, Prev_Date, menu_date)) AS [Макс_интервал_дней],
    CAST(AVG(DATEDIFF(DAY, Prev_Date, menu_date)) AS DECIMAL(5,2)) AS [Средний_интервал_дней]
FROM CategoryDates
WHERE Prev_Date IS NOT NULL
GROUP BY category_name;
GO
/****** Object:  View [dbo].[v_DailyMenuSummary]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_DailyMenuSummary]
AS
WITH MealDishes AS (
    SELECT 
        m.menu_date,
        mt.type_name,
        -- Исправлено: разделитель изменен с N', ' на ', ' (VARCHAR)
        STRING_AGG(d.dish_name, ', ') WITHIN GROUP (ORDER BY d.dish_name) AS DishesList
    FROM [dbo].[Menu] m
    INNER JOIN [dbo].[MealType_Dict] mt ON m.meal_type_ID = mt.meal_type_ID
    INNER JOIN [dbo].[Dishes] d ON m.dish_ID = d.dish_ID
    WHERE m.menu_date IS NOT NULL
    GROUP BY m.menu_date, mt.type_name
)
SELECT 
    menu_date AS [Дата],
    MAX(CASE WHEN type_name = N'Завтрак' THEN DishesList END) AS [Завтрак],
    MAX(CASE WHEN type_name = N'Обед'   THEN DishesList END) AS [Обед],
    MAX(CASE WHEN type_name = N'Полдник' THEN DishesList END) AS [Полдник]
FROM MealDishes
GROUP BY menu_date;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SortDailyMenuSummaryAscending]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_SortDailyMenuSummaryAscending]()
RETURNS TABLE
AS RETURN
(
    SELECT TOP (9223372036854775807) *
    FROM [dbo].[v_DailyMenuSummary]
    ORDER BY [Дата]
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SortDailyMenuSummaryDecreasing]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_SortDailyMenuSummaryDecreasing]()
RETURNS TABLE
AS RETURN
(
    SELECT TOP (9223372036854775807) *
    FROM [dbo].[v_DailyMenuSummary]
    ORDER BY [Дата] DESC
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetvDMSByDateRange]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_GetvDMSByDateRange]
(
    @StartDate DATE,
    @EndDate DATE
)
RETURNS TABLE
AS RETURN
(
    -- В SQL Server для гарантированной сортировки внутри TVF требуется TOP/OFFSET
    SELECT TOP (9223372036854775807)
        [Дата],
        [Завтрак],
        [Обед],
        [Полдник]
    FROM [dbo].[v_DailyMenuSummary]
    WHERE [Дата] BETWEEN @StartDate AND @EndDate
    ORDER BY [Дата]
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_FilterMenu]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_FilterMenu]
(
    @ColumnName NVARCHAR(50),
    @FilterValue SQL_VARIANT
)
RETURNS TABLE
AS RETURN
(
    SELECT * FROM [dbo].[Menu]
    WHERE (@ColumnName = N'meal_type_ID' AND meal_type_ID = TRY_CAST(@FilterValue AS INT))
       OR (@ColumnName = N'dish_ID'     AND dish_ID     = TRY_CAST(@FilterValue AS INT))
       OR (@ColumnName = N'menu_date'   AND menu_date   = TRY_CAST(@FilterValue AS DATE))
       OR (@ColumnName IS NULL AND @FilterValue IS NULL) -- Возвращает все строки, если параметры не переданы
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_FilterDishes]    Script Date: 13.05.2026 14:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_FilterDishes]
(
    @ColumnName NVARCHAR(50),
    @FilterValue SQL_VARIANT
)
RETURNS TABLE
AS RETURN
(
    SELECT * FROM [dbo].[Dishes]
    WHERE (@ColumnName = N'category_ID' AND category_ID = TRY_CAST(@FilterValue AS INT))
       OR (@ColumnName = N'dish_name'   AND dish_name   = TRY_CAST(@FilterValue AS NVARCHAR(100)))
       OR (@ColumnName IS NULL AND @FilterValue IS NULL)
);
GO
SET IDENTITY_INSERT [dbo].[DishCategories_Dict] ON 

INSERT [dbo].[DishCategories_Dict] ([category_ID], [category_name]) VALUES (1, N'Завтрак')
INSERT [dbo].[DishCategories_Dict] ([category_ID], [category_name]) VALUES (2, N'Обед')
INSERT [dbo].[DishCategories_Dict] ([category_ID], [category_name]) VALUES (3, N'Полдник')
SET IDENTITY_INSERT [dbo].[DishCategories_Dict] OFF
GO
SET IDENTITY_INSERT [dbo].[Dishes] ON 

INSERT [dbo].[Dishes] ([dish_ID], [dish_name], [category_ID], [recipe], [is_active]) VALUES (1, N'Каша рисовая на молоке', 1, N'Рис, молоко, сахар, масло', 1)
INSERT [dbo].[Dishes] ([dish_ID], [dish_name], [category_ID], [recipe], [is_active]) VALUES (2, N'Каша гречневая на молоке', 1, N'Гречка, молоко, сахар, масло', 1)
INSERT [dbo].[Dishes] ([dish_ID], [dish_name], [category_ID], [recipe], [is_active]) VALUES (3, N'Овсяная каша', 1, N'Овсяные хлопья, молоко, сахар, масло', 1)
SET IDENTITY_INSERT [dbo].[Dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[DishIngredient] ON 

INSERT [dbo].[DishIngredient] ([ingredient_ID], [product_name], [unit], [note]) VALUES (1, N'Молоко', 1, N'литры')
INSERT [dbo].[DishIngredient] ([ingredient_ID], [product_name], [unit], [note]) VALUES (2, N'Творог', 1, N'килограммы')
INSERT [dbo].[DishIngredient] ([ingredient_ID], [product_name], [unit], [note]) VALUES (3, N'Сметана', 1, N'килограммы')
SET IDENTITY_INSERT [dbo].[DishIngredient] OFF
GO
SET IDENTITY_INSERT [dbo].[MealType_Dict] ON 

INSERT [dbo].[MealType_Dict] ([meal_type_ID], [type_name], [serving_order]) VALUES (1, N'Завтрак', 1)
INSERT [dbo].[MealType_Dict] ([meal_type_ID], [type_name], [serving_order]) VALUES (2, N'Обед', 2)
INSERT [dbo].[MealType_Dict] ([meal_type_ID], [type_name], [serving_order]) VALUES (3, N'Полдник', 3)
SET IDENTITY_INSERT [dbo].[MealType_Dict] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([menu_ID], [menu_date], [meal_type_ID], [dish_ID]) VALUES (1, CAST(N'2025-04-01' AS Date), 1, 1)
INSERT [dbo].[Menu] ([menu_ID], [menu_date], [meal_type_ID], [dish_ID]) VALUES (2, CAST(N'2025-04-02' AS Date), 1, 1)
INSERT [dbo].[Menu] ([menu_ID], [menu_date], [meal_type_ID], [dish_ID]) VALUES (3, CAST(N'2025-04-03' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipe_Comm] ON 

INSERT [dbo].[Recipe_Comm] ([recipe_ID], [dish_ID], [ingredient_ID], [quantity]) VALUES (1, 1, 5, CAST(0.050 AS Decimal(10, 3)))
INSERT [dbo].[Recipe_Comm] ([recipe_ID], [dish_ID], [ingredient_ID], [quantity]) VALUES (2, 1, 1, CAST(0.100 AS Decimal(10, 3)))
INSERT [dbo].[Recipe_Comm] ([recipe_ID], [dish_ID], [ingredient_ID], [quantity]) VALUES (3, 1, 20, CAST(0.010 AS Decimal(10, 3)))
SET IDENTITY_INSERT [dbo].[Recipe_Comm] OFF
GO
/****** Object:  Index [UK_DishCategories_Dict]    Script Date: 13.05.2026 14:56:17 ******/
ALTER TABLE [dbo].[DishCategories_Dict] ADD  CONSTRAINT [UK_DishCategories_Dict] UNIQUE NONCLUSTERED 
(
	[category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_MealType_Dict]    Script Date: 13.05.2026 14:56:17 ******/
ALTER TABLE [dbo].[MealType_Dict] ADD  CONSTRAINT [UX_MealType_Dict] UNIQUE NONCLUSTERED 
(
	[meal_type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dishes] ADD  CONSTRAINT [DF_Dishes_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_DishCategories_Dict] FOREIGN KEY([category_ID])
REFERENCES [dbo].[DishCategories_Dict] ([category_ID])
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_DishCategories_Dict]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Dishes] FOREIGN KEY([dish_ID])
REFERENCES [dbo].[Dishes] ([dish_ID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Dishes]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_MealType_Dict] FOREIGN KEY([meal_type_ID])
REFERENCES [dbo].[MealType_Dict] ([meal_type_ID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_MealType_Dict]
GO
ALTER TABLE [dbo].[Recipe_Comm]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Comm_Dishes] FOREIGN KEY([dish_ID])
REFERENCES [dbo].[Dishes] ([dish_ID])
GO
ALTER TABLE [dbo].[Recipe_Comm] CHECK CONSTRAINT [FK_Recipe_Comm_Dishes]
GO
ALTER TABLE [dbo].[Recipe_Comm]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Comm_DishIngredient] FOREIGN KEY([ingredient_ID])
REFERENCES [dbo].[DishIngredient] ([ingredient_ID])
GO
ALTER TABLE [dbo].[Recipe_Comm] CHECK CONSTRAINT [FK_Recipe_Comm_DishIngredient]
GO
USE [master]
GO
